@using System.Web.Http
@using System.Web.Http.Description
@using Edutor.Web.Api.Areas.HelpPage.Models
@using Edutor.Web.Api.Areas.HelpPage.ModelDescriptions
@model HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;
}

@*<section class="featured">
        <div class="content-wrapper">
            <p>
                
            </p>
        </div>
    </section>*@
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@Html.ActionLink("REST", "index") › @description.HttpMethod.Method @description.RelativePath</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <div class="content-wrapper">

        <p>@description.Documentation</p>
        @if (Model.RequiresAuth)
        {
            <p>@Model.AuthorizationMessage</p>
        }

        <h2>Información de la petición</h2>

        <h3>Parámetros de la URI</h3>
        @Html.DisplayFor(m => m.UriParameters, "Parameters")

        <h3>Parámetros del cuerpo</h3>

        <p>@Model.RequestDocumentation</p>

        @if (Model.RequestModelDescription != null)
        {
            @Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.RequestModelDescription })
            if (Model.RequestBodyParameters != null)
            {
                @Html.DisplayFor(m => m.RequestBodyParameters, "Parameters")
            }
        }
        else
        {
            <p>Ninguno.</p>
        }

        @if (Model.SampleRequests.Count > 0)
        {
            <h3>Formato de solicitud</h3>
            @Html.DisplayFor(m => m.SampleRequests, "Samples")
        }

        <h2>Información de la respuesta</h2>

        <h3>Descripción de la respuesta</h3>

        <p>@description.ResponseDescription.Documentation</p>

        @if (Model.ResourceDescription != null)
        {
            @Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new { modelDescription = Model.ResourceDescription })
            if (Model.ResourceProperties != null)
            {
                @Html.DisplayFor(m => m.ResourceProperties, "Parameters")
            }
        }
        else
        {
            <p>Ninguno.</p>
        }

        @if (Model.SampleResponses.Count > 0)
        {
            <h3>Formato de respuesta</h3>
            @Html.DisplayFor(m => m.SampleResponses, "Samples")
        }
    </div>
</div>
</